/*Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/*Styling*/
body {
  background-color: #ceeff5;
}
h1 {
  color: crimson;
  font-family: 'Langar', sans-serif;
  font-size: 50px;
}
h3 {
  color: dodgerblue;
  font-family: 'JetBrains Mono', monospace;
}
div#access-bar.access-bar {
  background-color: #0b72ef;
  border-color: #0b72ef;
}
table#nav.nav, tr, td {
  border: 5px solid #0b72ef;
  border-collapse: collapse;
}
a {
  color: lime;
  font-family: 'JetBrains Mono', monospace;
  text-decoration: none;
}
p {
  color: darkturquoise;
  font-family: 'Rubik', sans-serif;
}
h2 {
  color: coral;
  font-family: 'Langar', sans-serif;
}
